@import url('https://fonts.googleapis.com/css2?family=Alata&family=Montserrat:wght@300;400;500;600&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.transition-width {
    transition: width 0.5s ease-in-out; 
}