@import url('https://fonts.googleapis.com/css2?family=Alata&family=Inter:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,700;6..12,800&family=Open+Sans:wght@400;500;600;700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 8px;
  /* height: 10px; */
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #c1c5ca;
}


.transition-width {
    transition: width 0.5s ease-in-out; 
}
/* In your CSS file or Tailwind CSS configuration */
@keyframes shake-slight {
    0% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(-1px) rotate(-1deg);
    }
    50% {
      transform: translateX(1px) rotate(1deg);
    }
    75% {
      transform: translateX(-1px) rotate(-1deg);
    }
    100% {
      transform: translateX(1px) rotate(1deg);
    }
  }
  
  /* Add the animation to your Tailwind CSS utility classes */
  @keyframes shake-slight {
    0%, 100% {
      transform: translateX(0) rotate(0);
    }
    25% {
      transform: translateX(-1px) rotate(-1deg);
    }
    50% {
      transform: translateX(1px) rotate(1deg);
    }
    75% {
      transform: translateX(-1px) rotate(-1deg);
    }
    100% {
      transform: translateX(1px) rotate(1deg);
    }
  }
  
  /* Apply the animation to an element using a Tailwind CSS class */
  .animate-shake-slight {
    animation: shake-slight 1s infinite;
    transform-origin: center;
  }
  

  /* File Upload */

  .container {
    height: 300px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    gap: 5px;
    background-color: rgba(0, 110, 255, 0.041);
  }
  
  .header {
    flex: 1;
    width: 100%;
    border: 2px dashed royalblue;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .header img {
    height: 100px;
  }
  
  .header p {
    text-align: center;
    color: black;
  }
  
  .footer {
    background-color: rgba(0, 110, 255, 0.075);
    width: 100%;
    height: 40px;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: black;
    border: none;
  }
  
  .footer img {
    height: 130%;
    fill: royalblue;
    background-color: rgba(70, 66, 66, 0.103);
    border-radius: 50%;
    padding: 2px;
    cursor: pointer;
    box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
  }
  
  .footer p {
    flex: 1;
    text-align: center;
  }
  
  #file {
    display: none;
  }


  .spinner {
    width: 56px;
    height: 56px;
    display: grid;
    border: 4.5px solid #0000;
    border-radius: 50%;
    border-color: #0055f2 #0000;
    animation: spinner-e04l1k 1.2s infinite linear;
 }
 
 .spinner::before,
 .spinner::after {
    content: "";
    grid-area: 1/1;
    margin: 2.2px;
    border: inherit;
    border-radius: 50%;
 }
 
 .spinner::before {
    border-color: #2998ff #0000;
    animation: inherit;
    animation-duration: 0.6s;
    animation-direction: reverse;
 }
 
 .spinner::after {
    margin: 8.9px;
 }
 
 @keyframes spinner-e04l1k {
    100% {
       transform: rotate(1turn);
    }
 }